---
import { Image } from "@astrojs/image/components";
import { formatDate, slugify } from "../js/utils";
import Link from "./Link.astro";
const { frontmatter, url, tagType } = Astro.props;
const { title, date, description, category, author, image } = frontmatter;

const Tag = tagType;
---

<article class="card">
  <div class="container">
    <small>
      <a href={`/category/${slugify(category)}`} class="badge">{category}</a>
    </small>
    <a href={url} aria-hidden="true" tabindex="-1">
      <Image
        src={image.src}
        alt={image.alt}
        width={400}
        height={250}
        format="avif"
        fit="cover"
        quality={80}
        aspectRatio="4:1"
      />
      <div class="content">
        <div>
          <Tag class="h3">
            <a href={url}> {title}</a>
          </Tag>
        </div>
        <small>
          by {" "}<a href={`/author/${slugify(author)}`}>{author}</a>{" "}
          {formatDate(date)}
        </small>
      </div>
      <p>{description}</p>
      <Link href={url} style="primary" text="Read more" />
    </a>
  </div>
</article>
