---
import Layout from "./Layout.astro";

import PostHeader from "../components/PostHeader.astro";
import CategoryCloud from "../components/CategoryCloud.astro";
import { formatBlogPosts } from "../js/utils";
import PostCard from "../components/PostCard.astro";
import RelatedPosts from "../components/RelatedPosts.astro";

const { frontmatter } = Astro.props;
const { title, description, date, category, author, image } = frontmatter;

const allPosts = await Astro.glob("../pages/blog/*.md");
const formattedPosts = formatBlogPosts(allPosts);
const relatedPost = formattedPosts
  .filter(
    (post: any) =>
      post.frontmatter.category.toLowerCase() ===category.toLowerCase() &&
      post.frontmatter.title.toLowerCase() !== title.toLowerCase()
  )
  .slice(0, 3);
---

<Layout {title} {description}  image={frontmatter.image} {frontmatter} robots={frontmatter.robots}>
  <PostHeader {title} {date} {category} {author} {image} />
  <div
    class="md:py-6 md:px-3 p-3 md:flex md:gap-2 "
  >
    <div class="content md:px-3">
      <slot />
    </div>
    <div class="space-y-4 mt-2 md:mt-0">
      <aside
        class="space-y-2"
        aria-label="Blog Categories"        
      >
        <h2 class="h3">Blog Categories</h2>
        <CategoryCloud />
      </aside>
      {
        relatedPost.length > 0 && (
          <aside class="space-y-2" aria-label="Related Posts">
            <h1 class="h3">Related Category</h1>
            <div class="">
              {relatedPost.map((post: any) => (
                <RelatedPosts {relatedPost}/>
              ))}
            </div>
          </aside>
        )
      }
    </div>
  </div>
</Layout>
